<h1>PAGINA SOBRE</h1>

<h3 style="color: blue;">
    O ID DIGITADO É
</h3>

{{#if id}}
    <p style="color: red; font-size: 50px;">{{id}}</p>
{{else}}
    <p style="color: black; font-size: 50px;">NÃO TEM ID</p>
{{/if}}