//Aula 1 Usuario
<h1>Crie seu usuário</h1>

<form action="/name" method="POST">
    <input type="text" name="user_name" placeholder="Digite seu nome">
    <button type="submit">Enviar</button>
</form>

//Aula 2 CEP
<h2>Busca por CEP</h2>

<form action="/sobre" method="POST">
    <input type="number" name="cep" placeholder="Digite seu CEP">
    <button type="submit">Enviar</button>
</form>